<% include partials/header %>
<h1>OMDB Search</h1>

<form class="form" action="/movies" method="get">
<div class="form-group">
  <input type="text" name="q" class="form-control" placeholder="search for a movie">
  </div>
  <input type="submit" value="search" class="btn btn-primary">
  </form>


<% include partials/footer %>